<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Entreprise</title>
</head>
<body>
	<div layout:fragment="content" class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">Liste des entreprises</div>
		<div class="panel-body">
		<div class="container">
		<form th:action="@{entreprise}" method="get">
			<label>Mot Clé :</label>
<!-- 			value="${motCle}" n'est pas reconnu  -->
			<input type="text" th:value="${motCle}" name="motCle"/>
			<button type="submit" class="btn btn-primary">Find</button>
		</form>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Code</th><th>Nom</th><th>RS</th><th>Email</th>
			</tr>
			<tr th:each="e:${listEntreprises}">
				<td th:text="${e.code}"></td>
				<td th:text="${e.nom}"></td>
				<td th:text="${e.raisonSociale}"></td>
				<td th:text="${e.email}"></td>
				<td>
					<a th:href="@{/taxes(code=${e.code})}">Taxes</a>
				</td>
			</tr>
		</table>
		<div>
			<ul class="nav nav-pills">
				<li th:class="${status.index==pageCourante}?'active':''" th:each="p,status:${pages}">
					<a th:text="${status.count}" th:href="@{/entreprise(page=${status.index},size=5,motCle=${motCle})}"></a>
				</li>
			</ul>
		</div>
		</div>
	</div>
		
	</div>
</body>
</html>